<div class="card-container">
    <mat-card role="banner" class="card">
        <mat-card-content class="enquiry">
            <p>Do you wish to refresh router configuration?</p>
        </mat-card-content>
        <div matCardContent class="card-actions">
            <a routerLink="/refresh-success"><button mat-raised-button color="primary" class="button-left">YES</button></a>
            <a routerLink="/process"><button mat-raised-button color="primary" class="button-right">NO</button></a>
        </div>
    </mat-card>
</div>
